/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {
    height: 1500px
}



/* Set gray background color and 100% height */
.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
    text-align: center;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }

}

div.row.sqw-row {
    padding-left: 20px !important;
}

/*#suggestions {*/
    /*padding-left: 160px;*/
/*}*/

/*
Useful dividers
 */
.divider {
    border: 0.1px solid lightgray;
}

.divider-shadow-top {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
    /*padding-bottom: 50px;*/
}

.divider-shadow {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
    padding-bottom: 0px;

}

.divider-fancy {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}




.hut-image img {
    padding-top: 150px;


}

.sugg-huts {
    width:90%;
    height: 13%;
}

/*
Pickers
 */
#sugg-picker {
    padding-left: 15px;
}

/*
Buttons
 */
#getHutByName.btn.btn-success {
    size: 34px !important;
}
